
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: "Lato";	
	text-align: center;
	
}

h1, h2  {
	font-family: "Cormorant Garamond";
	font-weight: bold;
}

#logo {
	font-size: 1.8rem;
	font-family: "Cormorant Garamond";
	font-weight: 700;
	padding: 10px 0 10px 18px;
	 

}

#navbar {
	background-color: #a5a58d;
	font-family: "Cormorant Garamond";
	height:10vh;
	color: #F0E9E4;
	z-index: 1000;
	font-size: 1.2rem;
	padding-right: 30px;

}

#link {
	color: #20221C;
	
}

#landing-page {
	height: 90vh;
    font-family: "Lato";
    position: relative;     
    display: flex;
  	justify-content: center;
  	align-items: center;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  z-index: -1;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.tagline {
	align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
	color: #ffffff;
	font-family: "Lato";
	font-size: 2.4rem;
    font-weight: 700;
	justify-content: center;
    line-height: 1.5;
	margin:0 auto;
    padding: 2rem 1.2rem;
	position:absolute;
	text-align: center;
	z-index:999;
	letter-spacing: 1.4px;
	
}


.tagline h1 {
	font-family: "Cormorant Garamond";
	font-weight: bold;
	margin: 0 auto;
	padding:5px;
	font-size: 2.6rem;
}

.tagline p{
	font-weight: 500;
	margin:0 auto;
	padding: 0 1.4rem;
}

.btn {
  background-color: rgba(43, 45, 37, 0.9);
  border-radius: 25px;
  font-size: 1rem;
  color: white;
}

.cards {
	padding: 30px 30px;

}



.middle h2{
	padding-top: 10px;
	font-family: "Cormorant Garamond";
	font-size: 1.2rem;
	font-weight: bold;

}

footer {
	background-color: #F0E9E4;
	color: #a5a58d;
	display: flex;
	font-family: "Cormorant Garamond";
	justify-content: flex-end;	
	text-align: center;
	margin-top: 20px;
	padding: 10px 10px;
}